body {
    background-color: black;
    color: crimson;
    font-family: DiabloLight;
}

h1 {
    font-family: DiabloLight;
    font-weight: bold;
}

@font-face {
    font-family: DiabloLight;
    src: url(DiabloLight.ttf);
}

#left {
  float: left;
  width: 25%;
}
#center {
  float: left;
  width: 50%;

}
#right {
  float: left;
  width: 25%;
}
#menuitem {
  padding:10px;
  color: crimson;
}

table.holy_grail_table th, tr, p {
  padding: 2px;
  margin: 0px;
}

table.all_runes_table th, tr, p {
  padding: 2px;
  margin: 0px;
}


.all_passed p {
  color: goldenrod;
}

ul.d2tabs, div.d2tabs{
  background-color: black !important;
  border: 0px solid crimson !important;
  color: crimson;
}

li.d2tabs:not(.ui-tabs-active) {
  background-color: black !important;
  color: crimson;
  border: 1px solid #333 !important;
}

a.ui-tabs-active,a.ui-state-active, li.ui-state-active, li.ui-tabs-active {
  background-color: #511 !important;
  color: crimson !important;
  text-decoration-color: crimson !important;
  border: 0px solid yellow !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  background-color: #000 !important;
  color: crimson !important;
  border: 1px solid crimson !important;
}

#scroll-container {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 30s linear infinite;
  -webkit-animation: my-animation 30s linear infinite;
  animation: my-animation 30s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(65%); }
  to { -moz-transform: translateX(-65%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(65%); }
  to { -webkit-transform: translateX(-65%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(65%);
    -webkit-transform: translateX(65%);
    transform: translateX(65%);
  }
  to {
    -moz-transform: translateX(-65%);
    -webkit-transform: translateX(-65%);
    transform: translateX(-65%);
  }
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:black;
  color: white;
  text-align: center;
}