body {
    background-color: black;
    color: crimson;
    font-family: DiabloLight;
}

h1 {
    font-family: DiabloLight;
    font-weight: bold;
}

@font-face {
    font-family: DiabloLight;
    src: url(DiabloLight.ttf);
}

#left {
  float: left;
  width: 25%;
}
#center {
  float: left;
  width: 50%;
}
#right {
  float: left;
  width: 25%;
}
#menuitem {
  padding:10px;
  color: crimson;
}

table.holy_grail_table th, tr, p {
  padding: 2px;
  margin: 0px;
}