extends template.pug
block content
    h1 Report new rune
    form(id='rune_form' method='POST' action='/findings')
    table
        tr
            td 
                label(for='player_name') Player:
            td
                input#name(type='text' name='player_name' form='rune_form')
        tr
            td
                label(for='player_password') Password:
            td
                input#password(type='password' name='player_password' form='rune_form')
        tr 
            td 
                label(for='rune_name') Rune:
            td
                select#rune(name='rune_name' form='rune_form')
                    each rune in runes
                        option(value=rune.rune_name) #{rune.rune_name}
        tr
            td
                input(type='submit' value='Report' form='rune_form')
            td#result
