extends template.pug
block content
    script(src='https://code.jquery.com/jquery-3.6.0.js')
    script(src='https://code.jquery.com/ui/1.13.0/jquery-ui.js')
    link(rel='icon' type='image/x-icon' href='/ber.png')
    link(rel='icon' type='image/x-icon' href='/cham.png')
    link(rel='icon' type='image/x-icon' href='/gul.png')
    link(rel='icon' type='image/x-icon' href='/ist.png')
    link(rel='icon' type='image/x-icon' href='/jah.png')
    link(rel='icon' type='image/x-icon' href='/lo.png')
    link(rel='icon' type='image/x-icon' href='/mal.png')
    link(rel='icon' type='image/x-icon' href='/ohm.png')
    link(rel='icon' type='image/x-icon' href='/sur.png')
    link(rel='icon' type='image/x-icon' href='/vex.png')
    link(rel='icon' type='image/x-icon' href='/zod.png')

    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css')
    script.
        $( function() {
            $( "#tabs" ).tabs({"classes":{
                            "ui-tabs": "d2tabs",
                            "ui-tabs-nav": "d2tabs",
                            "ui-tabs-tab": "d2tabs",
                            "ui-tabs-panel": "d2tabs"
                        }});
        });
    h1 Rune stats
    div#tabs
        ul 
            li
                a(href="#tabs-1") All runes
            li
                a(href="#tabs-2") Charts
            li
                a(href="#tabs-3") Player stats
        div#tabs-1
            table
                tr
                    td
                        table()#all_runes_table
                            each rune_finding in all_runes
                                tr
                                    td
                                        img(src='/'+ rune_finding.rune_name.toLowerCase() +'.png', width=32, height=32)
                                    td
                                        p #{rune_finding.rune_name}  
                                    td
                                        p #{rune_finding.player_name}
                                    td
                                        p #{rune_finding.finding_date}
                    td
                        div#runometer
        div#tabs-2
            p Coming soon!
        div#tabs-3
            p Coming soon!