extends template.pug
block content
    h1 Stats for #{player_name}
    p Runes found: 
    ul
        each rune in runes
            li= rune.rune_name

    p Holy grail items found: 
    ul
        each holy_grail_item in holy_grail_items
            li= holy_grail_item.item_name