doctype html
html
  head
    link(rel='stylesheet' type='text/css' href='/style.css')
    link(rel='icon' type='image/x-icon' href='/fire.gif')
  body
    div#left 
      img(src='/fire.gif') 

    div#center 
        block content

    div#right 
      img(src='/fire.gif') 
